<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa6TeKlBnb3GylYHmoZGPasoWJJVmgbtg</string>
	<key>GCM_SENDER_ID</key>
	<string>582793431937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.factoryMethodPatternWithCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-b28fe</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-b28fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582793431937:ios:e1d6e5c11dcdf7ffc7b680</string>
	<key>DATABASE_URL</key>
	<string>https://pharmacy-b28fe-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>